<div class="col-md-12">
  <div class="row">
    <div class="table-responsive" *ngIf="pessoas$ | async as pessoasList; else loading">
      <table class="table table-bordered table-striped">
        <thead>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoasList">
            <td [innerHtml]="pessoa.nome"></td>
            <td [innerHtml]="pessoa.email"></td>
            <td [innerHtml]="pessoa.dataNascimento | date:'dd/MM/yyyy'"></td>
            <td>
              <button type="button" class="btn btn-info" (click)="detalhar(pessoa.id)">Detalhes</button>
              <button type="button" class="btn btn-warning btn-custom" (click)="editar(pessoa.id)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="excluir(pessoa.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #loading>
      <b>Carregando...</b>
    </ng-template>
  </div>
</div>